@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&family=Qahiri&display=swap');

h1{
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
}

div{

    width: 400px;
    height: 600px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    line-height: 30px;
float: left;
text-align: center;
}
img{
    width: 100%;

}
 .col-3 img{
     height: 268px;
 }
 div p{
     text-align: center;
 }
 span{
     font-weight: bold;
 }